body {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#container {
    width: 75%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gridDiv {
    border: 2px solid red;
    width: 6.25%;
    padding-bottom: 6.25%;
    /* height: 6.25%; */
}

.gridDiv:hover {
    background-color: greenyellow;
}