body {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    width: 75%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gridDiv {
    box-sizing: border-box;
    border: 2px solid red;
    width: calc(6.25% - 4px);
    padding-bottom: calc(6.25% - 4px);
    /* height: 6.25%; */
}

/* .gridDiv:hover {
    background-color: greenyellow;
} */